* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #2c3e50;
  padding: 10px 20px;
}
.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.menu {
  display: flex;
  gap: 20px;
}
.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  width: 80%;
}
.menu a:hover {
  color: #f1c40f;
}

.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34495e;
  padding: 10px 20px;
  width: 100%;
}

.links {
  display: flex;
}
.Carrusel {
  background-color: #f13607;
}
.cuadro {
  background-color: aqua;
  display: inline-table;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  padding: 1%;
}
.destacados {
  background-color: #bbc2ca;
}
.destacados a {
  background-color: rgb(18, 180, 59);
  display: inline-table;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  padding: 1%;
}

.imgPublicidad {
  background-color: #f1c40f;
}

.info {
  background-color: #2c3e50;
}
.info p {
  background-color: rgb(145, 145, 15);
  display: inline-table;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  padding: 1%;
}

footer {
  background-color: aquamarine;
}
