/*INICIO CARDS*/
.card-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #1c1c1c;
  margin-top: 50px;
  /*aca hay un error*/
  h1 {
    color: snow;
    text-align: center;
    margin-bottom: 1.2rem;
  }
}

.destacados-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;

  gap: 20px;
  background-color: #1c1c1c;
}

.destacados {
position: relative;
width: 500px;
height: 550px;
display: flex;
align-items: center;
justify-content: center;
}

.destacados h4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: snow;
  text-align: center;
  z-index: 2;
  width: 100%;
  pointer-events: none;
  font-size: 2rem;
  font-weight: bold;
}

.destacados a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.cursos-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.cursos-img:hover {
  filter: brightness(1);
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
/*FIN CARDS*/

@media (max-width: 768px) {

    .destacados {
        height: 250px;
    }
 
}