<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/blog.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>Blogs destacados</h1>
    <div class="container">
      <div class="card">
        <figure>
          <img
            src="{{ url_for('static', filename='img/imagenes-blog/condicionales_if_css.jpg') }}"
          />
        </figure>
        <div class="content">
          <h2>Condicionales if() en CSS</h2>
          <p>
            La función if() de CSS nos permite aplicar un estilo en base a una condición definida. Se utiliza como valor, al igual que otras funciones como url(), rgb() o similares.
          </p>
          <a href="https://lenguajecss.com/css/logica-css/condicionales-css/" target="_blank" class="button">Leer mas</a>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="{{ url_for('static', filename='img/imagenes-blog/ia_mano.jpg') }}"
          />
        </figure>
        <div class="content">
          <h2>Como utilizar copilot en Visual Studio Code</h2>
          <p>
           En esta guia encontrarás como acceder a la funcion de GitHub Copilot en Visual Studio Code, para usarlo en VS Code.
          </p>
          <a href="https://code.visualstudio.com/docs/copilot/setup" target="_blank" class="button">Leer mas</a>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="{{url_for('static', filename='img/imagenes-blog/front_back.jpg')}}"
          />
        </figure>
        <div class="content">
          <h2>Todo lo que necesitas saber del frontend y el backend</h2>
          <p>
            Si bien ambos tipos de programacion son diferentes, tambien son dos caras de la misma monera. Este blog te explicará las diferencias entre frontend y backend y su papel en el desarrollo.
          </p>
          <a href="https://radixweb.com/blog/frontend-vs-backend" target="_blank" class="button">Leer mas</a>
        </div>
      </div>
      
      
    </div>
  </body>
</html>
