<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/blog.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>Blogs destacados</h1>
    <div class="container">
      <div class="card">
        <figure>
          <img
            src="{{ url_for('static', filename='img/imagenes-blog/condicionales_if_css.jpg') }}"
          />
        </figure>
        <div class="content">
          <h2>Condicionales if() en CSS</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum
            alias soluta praesentium fuga atque corrupti rerum explicabo
            voluptatem dicta necessitatibus.
          </p>
          <a href="#" class="button">Leer mas</a>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="{{ url_for('static', filename='img/imagenes-blog/ia_mano.jpg') }}"
          />
        </figure>
        <div class="content">
          <h2>Como utilizar copilot en Visual Studio Code</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum
            alias soluta praesentium fuga atque corrupti rerum explicabo
            voluptatem dicta necessitatibus.
          </p>
          <a href="{{url_for('curso_php')}}" class="button">Leer mas</a>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="{{url_for('static', filename='img/imagenes-cursos/cursoPython.jpg')}}"
          />
        </figure>
        <div class="content">
          <h2>¿Que tanto sabes del Front-end y el Back-end?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum
            alias soluta praesentium fuga atque corrupti rerum explicabo
            voluptatem dicta necessitatibus.
          </p>
          <a href="/pages/cursoPython.html" class="button">Leer mas</a>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="{{url_for('static', filename='img/imagenes-cursos/c++.png')}}"
          />
        </figure>
        <div class="content">
          <h2>PROGRAMACION C++</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum
            alias soluta praesentium fuga atque corrupti rerum explicabo
            voluptatem dicta necessitatibus.
          </p>
          <a href="/pages/cursoC++.html" class="button">Leer mas</a>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="{{url_for('static', filename='img/imagenes-cursos/cursoJava.jpg')}}"
          />
        </figure>
        <div class="content">
          <h2>PROGRAMACION JAVA</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum
            alias soluta praesentium fuga atque corrupti rerum explicabo
            voluptatem dicta necessitatibus.
          </p>
          <a href="#" class="button">Leer mas</a>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="{{url_for('static', filename='img/imagenes-cursos/js.png')}}"
          />
        </figure>
        <div class="content">
          <h2>PROGRAMACION JAVASCRIPT</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum
            alias soluta praesentium fuga atque corrupti rerum explicabo
            voluptatem dicta necessitatibus.
          </p>
          <a href="#" class="button">Leer mas</a>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="{{url_for('static', filename='img/imagenes-cursos/cursohtml.png')}}"
          />
        </figure>
        <div class="content">
          <h2>CURSO HTML</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum
            alias soluta praesentium fuga atque corrupti rerum explicabo
            voluptatem dicta necessitatibus.
          </p>
          <a href="#" class="button">Leer mas</a>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="{{url_for('static', filename='img/imagenes-cursos/cursocss.png')}}"
          />
        </figure>
        <div class="content">
          <h2>CURSO CSS</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum
            alias soluta praesentium fuga atque corrupti rerum explicabo
            voluptatem dicta necessitatibus.
          </p>
          <a href="#" class="button">Leer mas</a>
        </div>
      </div>
    </div>
  </body>
</html>
