<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style/cursos.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <figure>
                <img src="{{ url_for('static', filename='/img/imagenes-cursos/js.png') }}">
            </figure>
            <div class="content">
                <h2>PROGRAMACION HTML BASICO</h2>
                <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum alias soluta 
                    praesentium fuga atque corrupti rerum explicabo voluptatem dicta necessitatibus.</P>
                <a href="{{ url_for('inscripcion') }}" class="button">Inscribite</a>

            </div>

        </div>
        <div class="card">
            <figure>
                <img src="{{ url_for('static', filename='/img/imagenes-cursos/js.png') }}">
            </figure>
            <div class="content">
                <h2>PROGRAMACION HTML INTERMEDIO</h2>
                <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum alias soluta 
                    praesentium fuga atque corrupti rerum explicabo voluptatem dicta necessitatibus.</P>
                <a href="{{ url_for('inscripcion') }}" class="button">Inscribite</a>

            </div>

        </div>
        <div class="card">
            <figure>
                <img src="{{ url_for('static', filename='/img/imagenes-cursos/js.png') }}">
            </figure>
            <div class="content">
                <h2>PROGRAMACION HTML AVANZADO</h2>
                <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum alias soluta 
                    praesentium fuga atque corrupti rerum explicabo voluptatem dicta necessitatibus.</P>
                <a href="{{ url_for('inscripcion') }}" class="button">Inscribite</a>

            </div>

        </div>
</body>
</html>